asgiref==3.8.1
Django==5.2.3
dj-database-url==2.1.0
django-cors-headers==4.7.0
python-dotenv==1.0.1
djangorestframework==3.16.0
lz4==4.4.4
numpy==2.2.6
rosbags==0.10.10
ruamel.yaml==0.18.14
ruamel.yaml.clib==0.2.12
sqlparse==0.5.3
typing_extensions==4.14.0
tzdata==2025.2
whitenoise==6.9.0
zstandard==0.23.0
